.wrapper {
    margin-top: 50px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #494949;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.196);
}

.btn {
    padding: 10px;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background: rgb(93, 61, 255);
    cursor: pointer;
    transition: all 100ms;
    box-shadow: var(--shadow-item);
}

.btn:hover {
    transform: scale(1.02);
}

.weekWrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding: 20px;
}