.wrapper {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #3e3d3d;
    border-radius: 20px;
    box-shadow: var(--shadow-item);
    transition: all 300ms ease-out;
    width: 300px;
    height: 200px;
}

.wrapper:hover {
    transform: scale(1.05);
}

.icon {
    width: 100px;
}

.date {
    font-size: 20px;
    font-weight: 700px;
    color: white;
}

.temp {
    font-size: 25px;
    color: white;
}

@media (max-width: 1320px) {
    .date {
        font-size: 17px;
    }
}

@media (max-width: 750px) {
    .wrapper {
        width: 100%;
    }
}