@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root {
    --color-text: white;
    --shadow-item: 0 3px 4px 1px rgba(0, 0, 0, 0.459);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3c3c3c;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.current-enter {
    opacity: 0;
    transform: translateY(100%);
}
.current-enter-active {
    opacity: 1;
    transition: all 1000ms;
    transform: translateY(0);
}
.current-exit {
    transform: translateY(100%);
    opacity: 1;
}
.current-exit-active {
    opacity: 0;
    transition: all 200ms;
}

.loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: rgb(93, 61, 255);
}

.bg-icon {
    position: absolute;
    z-index: -1;
    transition: 200ms;
}

.bg-icon:first-of-type {
    top: 200px;
    right: -300px;
    transform: rotate(120deg);
    width: 1000px;
}

.bg-icon:nth-last-of-type(2) {
    top: 0;
    left: -500px;
    width: 1000px;
}
.bg-icon:nth-last-of-type(4) {
    bottom: -400px;
    left: 0px;
    width: 1000px;
}

.bg-icon:nth-last-of-type(3) {
    bottom: -400px;
    left: 200px;
    width: 800px;
    transform: rotate(45deg);
}

.bg-icon:last-of-type{
    top: -100px;
    right: -500px;
    width: 1000px;
}